/*
      Global Content
      stuff that should
      affect the whole
      app or things
      I want to repeat
*/

.App {
  text-align: center;
}
p{
  display: block;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row-box{
  height: fit-content;
  min-height: 40vh;
  width: 100%;
}

.row{
  width:fit-content;
  max-width: 85%;
  height:100%;
  min-height: 40vh;
  min-width: 85%;
  display:flex;
  margin:auto auto auto auto;
  flex-wrap: wrap;
  justify-content: center;
}
.row-item{
  position: relative;
  height:30rem;
  width:20rem;
  margin:10px;
  padding:.5rem 1rem 3rem 1rem;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*border:2px solid aliceblue;*/
}
.row-item-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  height:80%;
  margin:auto 0px auto 0px;
  text-align: center;

}
.row-item-content h1{
  text-align: center;
  width:100%;
  margin:auto;
}
.row-item-content p{
  display:flex;
  display:block;
  margin:auto;
  width:100%;
}
/*
.form-section{
  display:flex;
  width:100%;
  margin:auto;
  flex-direction: row;
  flex-wrap: wrap;
  position:relative;
  justify-content: center;
}

.form-section TextField{
  margin:auto;
  position: relative;
  display: flex;
  justify-self: center;
}
*/

 @media only screen and (max-width:1000px) {
    .row{
      width:100%;
      height:100%;
    }
    .row-item{
      width:95%;
    }
  }
*/


/*
  Nav section styling
*/

body.header-box{
  width:100%;
  height:100px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
.header-box.header{
  display: flex;
  flex-wrap: nowrap;
  margin:auto 0 auto 0;
  width:100%;
  background-color: rgba(0, 88, 139, 0.3);
  
}

.header-content-wrapper{
  height:fit-content;
  width: 100%;
  margin:auto;
  display:flex;
}


.header-content-left{
  display:flex;
  margin:auto auto auto 1rem;
}
.header a{
  color:black;
  text-decoration: none;
}
.header h1{
  display:inline-flex;
}
.header p{
  display:inline-flex;
}

.header-content-right{
  display: inline-flex;
  margin:auto 1rem auto auto;
  flex-wrap:nowrap;
  
}
.header-content-right h1{
  font-size: 1rem;
  padding:1rem;
}
.header h1:hover{
  color:rgb(255, 207, 50);
  transform: scale(120%);
}
/*
  End nav section styling
*/

/*
  Hero section styling. 
*/
.hero-box{
  width:100%;
  height:104vh;
  margin-top:-100px;
  background-image: url('hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.hero{
  width:fit-content;
  height:fit-content;
  margin:auto auto 12% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.hero-content{
  height:fit-content;
  width:fit-content;
  display:block;
  margin:auto;
  text-align: center;
  justify-content: center;

}
.hero-overlay{
  width:100%;
  height:100%;
  display: flex;
  background-color: rgba(0, 53, 102, 0.3);

}
.hero-content h1{
  color:white;
  font-size: 3rem;
 /* background-color: rgb(0, 0, 0, 50%);*/
  border-radius:5px;
  padding:15px;
}
.hero-content Button{
  color:white;
  font-size: 2rem;
  font-weight: 600;
  border-radius:5px;
  background-color: rgba(16, 128, 255, 1);
}
/*
 End Hero section styling. 
*/

/* 
  About
*/

#about{
  background-color: rgb(255, 255, 255);
  background-image: url('CODE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  color:white;
  padding:0;
}
#about p{
  font-size: 1.1rem;
  font-weight: 600;
}
.overlay-about{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* 
  End About
*/

/*
  Contact start
*/

.label-holder .form-section{
  margin:25px 0 25px 0;
  text-align: right;
}
.row Button{
  display:block !important;
  text-align: center;
  height:fit-content;
  width:fit-content;
  padding:10px;
  margin:auto;
}
.button-wrap{
  display:block;
  width:100%;
}
.contact{
  height:calc(100vh - 80px);
  width:100%;
  background-image: url('bg.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.textfield{
  margin:20px 0 20px 10px;
  padding:5px;
}

/*
  Contact end
*/